{% extends 'core/base.html' %}
{% block content %}
<div class='container mt-5'>
<h1 class="text-warning mb-5 border-bottom">SERVICES</h1>

<div class='row text-center text-white mb-5'>

<div class='col-sm-6'>
<i class="fas fa-palette fa-2x mb-3 i-colo"></i>
<h3>Web design</H3>
<p class='ss-color'>Providing the best possible web designs which attract the users.<p>
</div>
<div class='col-sm-6'>
<i class="fas fa-code fa-2x mb-3 i-colo"></i>
<h3>Web development</H3>
<p class='ss-color'>Providing services for developing the website for internet.<p>
</div>
</div>

<div class='row text-center text-white mb-5'>
<div class='col-sm-6'>
<i class="fab fa-apple fa-2x mb-3 i-colo"></i>
<h3>IOS</H3>
<p class='ss-color'>Providing services in IOS.<p>
</div>
<div class='col-sm-6'>
<i class="fab fa-android fa-2x mb-3 i-colo"></i>
<h3>Android </H3>
<p class='ss-color'>Providing services in Android.<p>
</div>

</div>

<div class='row text-center text-white mb-5'>
<div class='col-sm-6'>
<i class="fas fa-ad fa-2x mb-3 i-colo"></i>
<h3>Marketing</H3>
<p class='ss-color'> Promoting and selling products or services,
 including market research and advertising.<p>
</div>
<div class='col-sm-6'>
<i class="fas fa-database fa-2x mb-3 i-colo"></i>
<h3>Hosting</H3>
<p class='ss-color'>Providing hosting services that allows individuals to make their website accessible in World Wide.<p>
</div>

</div>

</div>
{% endblock content %}